
/*
Template Name: Kindle	
Author: MarkUps
Author URI: http://www.markups.io/
Version: 1.0
*/


/* Table of Content
==================================================
#BASIC TYPOGRAPHY
#HEADER	
#MENU 
#HERO SECTION
#COUNTER
#BOOK OVERVIEW
#VIDEO REVIEW
#AUTHOR
#PRICING
#READERS TESTIMONIALS
#CONTACT US
#FOOTER
#RESPONSIVE STYLE
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/

body,
html {
	
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	letter-spacing: 0.5px;
	line-height: 1.5;
		color:#002060;
}

ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
		color:#002060; 
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
	font-weight: 700;
	margin-top: 0;
	color:#002060;
}


h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

strong {
	font-weight: 500;
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}

address {
	line-height: 1.5;
	padding-left: 10px;
}

dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}

/*Wordpress default class*/

.alignleft {
	float:left;
	margin-right:8px;
}

.aligncenter {
	display:block;
	margin:10px auto;
}

.alignright {
	float:right;
	margin-left:8px;
}		

.alignnone {
	max-width: 100%;
}

.wp-caption-text {
	font-size: 12px;
	font-style: italic;
	text-align: center;
}

/* ========= BUTTON =========*/

.mu-primary-btn {
	background-color: transparent;
	border-radius: 100px;
	border: solid 1px #ffffff;
	color: #fff;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 12px 25px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-primary-btn:hover,
.mu-primary-btn:focus {
	background-color: #fff;
	color: #000;
}

.mu-send-msg-btn {
	border-radius: 20px;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1.5px;
	text-align: center;
	padding: 14px 24px;
	margin-top: 10px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	width: 150px;
	color: #fff;
}

.mu-send-msg-btn:hover,
.mu-send-msg-btn:focus {
	background-color: #fff;
}



/*--------------------*/
/* HEADER */
/*--------------------*/

#mu-header {
	display: inline;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	padding: 25px 0;
	z-index: 999;
	transition: all 0.5s;
}

.navbar-default .navbar-brand {
	color: #fff;
	font-size: 35px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	margin-top: -15px;
	padding-top: 15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #fff;
}

.navbar-brand img{
	margin-top: -12px;
}

#mu-header.mu-fixed-nav{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	position: fixed;
	padding: 15px 0;
}

/*--------------------*/
/* MENU */
/*--------------------*/

.navbar-default {
	min-height: auto;
}

.mu-navbar {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.navbar-default .mu-menu li a {
	border-bottom: 2px solid transparent;
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	padding: 0 0 5px;
	margin: 10px 15px 5px;
	transition: all 0.5s;
	position: relative;
}

.navbar-default .mu-menu li a:hover,
.navbar-default .mu-menu li a:focus {
	color: #fff;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover{
	background-color: transparent;
	color: #fff;
}

.navbar-default .mu-menu li a:after {
    display: block;
    position: absolute;
    bottom: -5px;
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.navbar-default .mu-menu li.active a:after,
.navbar-default .mu-menu li a:hover:after, 
.navbar-default .mu-menu li a:focus:after {
    width: 100%;
}


/*--------------------*/
/* HERO SECTION */
/*--------------------*/

#mu-hero {
	display: inline;
	float: left;
	padding: 75px 0 0;
	width: 100%;
}

.mu-hero-left{
	display: inline;
	float: left;
	width: 100%;
	padding-top: 18%;
	text-align: center;
}
.mu-hero-left1{
	display: inline;
	float: left;
	width: 100%;
	text-align: center;
}
.mu-hero-right {
	display: inline;
	float: left;
	width: 100%;
}

.mu-hero-left h1 {
	color: #fff;
	font-size: 32px;
	margin-bottom: 20px;
	font-weight:900;
}

.mu-hero-left p {
	color: #fff;
	margin-bottom: 20px;
}

.mu-hero-left .mu-primary-btn {
	margin-top: 20px;
	background-color: #fff;
	font-weight: 600;
}

.mu-hero-left span {
	display: block;
	margin-top: 10px;
	color: #f8f8f8;
}


/*--------------------*/
/* COUNTER */
/*--------------------*/

#mu-counter {
	background-color: #fff;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

.mu-counter-area {
	display: inline;
	float: left;
	padding: 70px 0 50px;
	width: 100%;
}

.mu-counter-area h2 {
	color: #fff;
	text-align: center;
}

.mu-counter-block {
	display: inline;
	float: left;
	width: 100%;
}

.mu-single-counter {
	display: inline;
	float: left;
	text-align: center;
	width: 80%;
	border: 1px solid #ddd;
	padding-bottom: 20px;
	margin: 0 10%;
}

.mu-single-counter i {
	font-size: 40px;
	padding: 15px 40px;
	margin-bottom: 0px;
	display: inline-block;
	padding-bottom: 0;
	margin-top: -60px;
	background: #fff;
}

.counter-value {
	font-size: 35px;
	font-weight: 700;
	margin-top: 10px;
	margin-bottom: 10px;
}

.mu-counter-name {
	color: #333;
}


/*--------------------*/
/* BOOK OVERVIEW */
/*--------------------*/


#mu-book-overview {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-book-overview-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-heading-area {
	display: inline;
	float: left;
	text-align: center;
	padding: 0 10%;
	width: 100%;
}

.mu-heading-title {
	color: #1c1b1b;
	margin-bottom: 15px;
	position: relative;
}

.mu-header-dot {
	border-radius: 0;
	height: 3px;
	width: 100px;
	display: inline-block;
	margin-bottom: 20px;
}

.mu-book-overview-content{
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.mu-book-overview-single {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
	background: #fff;
	padding: 20px 10px;
	margin: 10px 0 15px;
}

.mu-book-overview-icon-box {
	font-size: 25px;
	padding: 5px 12px;
	margin-bottom: 30px;
	display: inline-block;
}

.mu-book-overview-single h4{
	margin-bottom: 20px;
}


/*--------------------*/
/* VIDEO REVIEW */
/*--------------------*/


#mu-video-review {
	background-image: url(assets/images/video-review-bg.jpeg);
	background-attachment: fixed;
	background-size: cover;
	display: inline;
	position: relative;
	float: left;
	width: 100%;
}

#mu-video-review:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	opacity: 0.84;
}

.mu-video-review-area {
	display: inline;
	float: left;
	padding: 150px 0;
	width: 100%;
}

.mu-video-review-area .mu-heading-title, 
.mu-video-review-area .mu-heading-area p{
	color: #fff;
}

.mu-video-review-area .mu-header-dot {
	background-color: #f8f8f8;
}

.mu-video-review-content {
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
	padding: 0 10%;
}

.mu-video-iframe {
	height: 550px;
}

/*--------------------*/
/* AUTHOR */
/*--------------------*/


#mu-author {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-author-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-author-content{
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-author-image {
	display: inline;
	float: left;
	width: 100%;
}

.mu-author-info {
	display: inline;
	float: left;
	margin-top: 20px;
	width: 100%;
}

.mu-author-info h3 {
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.mu-author-info p {
	margin-bottom: 20px;
}

.mu-author-social {
	display: inline;
	float: left;
	margin-top: 25px;
	width: 100%;
}

.mu-author-social a {
	display: inline-block;
	font-size: 16px;
	padding: 5px;
	margin-right: 10px;
	color: #fff;
	width: 35px;
	text-align: center;
}




/*--------------------*/
/* PRICING */
/*--------------------*/


#mu-pricing {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
}

.mu-pricing-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-pricing-content{
	display: inline;
	float: left;
	margin-top: 70px;
	width: 100%;
}

.mu-pricing-single {
	background-color: #fff;
	color: #555;
	display: inline;
	float: left;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	padding: 30px 0;
}

.mu-pricing-single-head {
	border-bottom: 1px solid #eee;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	width: 100%;
}

.mu-pricing-single-head h4 {
	font-size: 18px;
	margin-bottom: 0;
}

.mu-pricing-single-head .mu-price-tag {
	font-size: 55px;
	font-weight: 700;
	margin-bottom: 0;
	padding: 15px 0 20px;
}

.mu-pricing-single-head .mu-price-tag span {
	font-size: 22px;
	margin-right: -10px;
}

.mu-price-feature {
	padding: 20px 0;
	display: inline-block;
	margin-bottom: 20px;
}

.mu-price-feature li {
	list-style: none;
	line-height: 2;
	margin-bottom: 10px;
}

.mu-pricing-single-footer {
	display: inline-block;
	float: left;
	width: 100%;
}

.mu-order-btn {
	background-color: transparent;
	border-radius: 100px;
	border: 1px solid #555;
	color: #555;
	display: inline-block;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1.5px;
	padding: 12px 25px;
	font-weight: 500;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	text-transform: uppercase;
}

.mu-popular-price-tag {
	color: #fff;
}

.mu-popular-price-tag .mu-order-btn {
	background-color: #fff;
	border: 1px solid #fff;
}


/*--------------------*/
/* READERS TESTIMONIALS */
/*--------------------*/

#mu-testimonials {
	background-image: url("assets/images/testimonials-bg.jpeg");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-testimonials::before {
	background: rgba(0,0,0,0.9);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
	opacity: 0.84;
}

.mu-testimonials-area {
	display: inline;
	float: left;
	padding: 150px 0 175px;
	width: 100%;
}

.mu-testimonials-area h2 {
	color: #fff;
	text-align: center;
}

.mu-testimonials-block {
	display: inline;
	float: left;
	margin-top: 60px;
	width: 100%;
}

.mu-testimonial-slide li{
	list-style: none;
	text-align: center;
}

.mu-testimonial-slide li p {
	color: #fff;
	padding: 0 10%;
}

.mu-testimonial-slide .mu-rt-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: 25px;
	display: inline-block;
}

.mu-rt-name {
	margin-bottom: 5px;
	color: #fff;
	line-height: 1;
	margin-top: 25px;
	letter-spacing: 1px;
}

.mu-rt-title {
	color: #fff;
	font-size: 14px;
}

.mu-testimonial-slide .slick-dots {
    bottom: -50px;
}

.mu-testimonial-slide .slick-dots li button {
	height: 15px;
	padding: 0;
	width: 15px;
	border-radius: 50%;
	border: 1px solid #f8f8f8;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-testimonial-slide .slick-dots li button:hover,
.mu-testimonial-slide .slick-dots li button:focus,
.mu-testimonial-slide .slick-dots li.slick-active button {
	opacity: 1;
}

.mu-testimonial-slide .slick-dots li button:before {
	display: none;
}

/*--------------------*/
/* CONTACT US */
/*--------------------*/

#mu-contact {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-contact-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-contact-header {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-contact-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
	padding: 0 20%;
}

.mu-contact-form {
	text-align: center;
}

.mu-contact-form .form-group input {
	background: transparent;
	color: #333;
	font-size: 15px;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 6px 15px;
	height: 45px;
	margin-bottom: 24px;
}

.mu-contact-form .form-group textarea{
	color: #333;
	background: transparent;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 18px;
	padding: 15px;
	height: 190px;
}

.mu-contact-form .form-control:focus {
	background-color: #fff;
    outline: 0;
    box-shadow: none;    
} 

.mu-contact-form .form-control::-webkit-input-placeholder {
	color: #888;
	font-size: 15px;
}

.mu-contact-form .form-control:-moz-placeholder { /* Firefox 18- */
	color: #888;
	font-size: 15px; 
}

.mu-contact-form .form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #888;
	font-size: 15px;
}

.mu-contact-form .form-control:-ms-input-placeholder {  
	color: #888;
	font-size: 15px;
}

.mu-contact-form .button-default::after,
.mu-contact-form .button-default > span {
	padding: 12px 40px;  
}

#form-messages {
	margin-bottom: 10px;
    background-color: #fff;
}

.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


/* GOOGLE MAP */

#mu-google-map {
	display: inline;
	float: left;
	width: 100%;
}

#mu-google-map iframe{
    pointer-events: none;
}


/*--------------------*/
/* FOOTER */
/*--------------------*/


#mu-footer{
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-footer-area a{
	font-weight: 600;
}

.mu-social-media {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media a {
	display: inline-block;
	font-size: 15px;
	width: 35px;
	height: 35px;
	line-height: 33px;
	text-align: center;
	margin: 0 5px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	border-radius: 50%;
}

.mu-social-media a:hover,
.mu-social-media a:focus {
	background-color: #fff;
}

.mu-copyright {
	margin-top: 10px;
	display: inline-block;
}


/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {
	
	.mu-hero-left h1 {
		font-size: 36px;
	}

	.navbar-brand img {
		width: 180px;
		margin-top: -10px;
	}

	.navbar-default .mu-menu li a {
		margin: 10px 12px 5px;
	}

	.mu-author-info {
		margin-top: 0px;
	}

	.mu-video-iframe {
		height: 450px;
	}

	
}

@media (max-width: 991px) {


	.mu-fixed-nav .navbar-brand img {
		margin-top: -7px;
	}
	
	.navbar-default .mu-menu li a {
		font-size: 14px;
		margin: 10px 5px;
	}	

	#mu-hero {
		padding: 75px 0 10px;
	}

	.mu-hero-right {
		margin-top: 40px;
	}

	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.mu-single-counter {
		margin-top: 15px;
		margin-bottom: 40px;
	}

	.mu-simplefilter li{
		margin-bottom: 10px;
	}

	.mu-clients-content-single img{
		width: 100%;
	}

	.mu-contact-right {
		margin-top: 50px;
	}
	
	.mu-video-review-content {
		padding: 0 5%;
	}

	.mu-video-iframe {
		height: 400px;
	}
		
}

@media (max-width: 767px) {

	.navbar-default .navbar-brand {
		margin-top: -7px;
	}

	.mu-fixed-nav .navbar-brand img {
		margin-top: -8px;
	}

	.navbar-default .navbar-toggle {
		border-color: #fff;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}

	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: rgba(0,0,0,0.8);
		text-align: center;
	}

	.navbar-default .mu-menu li a {
		display: inline-block;
	}

	.mu-hero-right {
		margin-top: 0;
	}

	#mu-hero {
		padding: 70px 0 70px;
	}

	.mu-author-info {
		margin-top: 30px;
	}

	.mu-contact-content {
		padding: 0 10%;
	}
	
		
}


@media (max-width: 640px){

	#mu-header.mu-fixed-nav {
		padding: 10px 0;
	}
	
	.mu-heading-area {
		padding: 0;
	}

	.mu-video-iframe {
		height: 300px;
	}

	.mu-primary-btn {
		font-size: 12px;
		padding: 10px 12px;
		margin-top: 15px;
	}

	.slick-dots {
		bottom: 15px;
	}
			

}


@media (max-width: 480px) {

	.navbar-brand img {
		width: 150px;
	}

	#mu-header {
		padding: 10px 0;
	}

	.navbar-default .navbar-brand {
		font-size: 25px;
		margin-top: -3px;
	}

	.navbar-toggle {
		padding: 7px 8px;
		margin-top: 10px;
	}


	.navbar-toggle .icon-bar {
		width: 18px;
	}

	h2{
		font-size: 25px;
	}

	.mu-heading-title {
		margin-bottom: 10px;
	}

	.mu-video-iframe {
		height: 250px;
	}

	.mu-contact-content {
		padding: 0 5%;
	}

	.mu-about-content-single h4 {
		margin-bottom: 18px;
	}

	.mu-team-social-info a {
		width: 35px;
		height: 35px;
		font-size: 16px;
		line-height: 35px;
	}

	.mu-contact-form button {
		width: 100%;
	}
	
}


@media (max-width: 360px){

	.mu-featured-slider-content {
		top: 49%;
	}

	.mu-featured-slider-content p,
	.mu-featured-slider-content .mu-primary-btn {
		display: none;
	}

	.mu-featured-slider-content h1 {
		font-size: 18px;
		margin-bottom: 0;
	}

	.mu-filter-item-content {
		padding-top: 25%;
		padding-left: 5px;
		padding-right: 5px;
	}

	.filtr-item h4 {
		font-size: 12px;
	}

	.mu-team-content .row > div {
		width: 100%;
	}

	.mu-simplefilter li {
		padding: 1rem 1rem;
		font-size: 12px;
	}
	
}

#mu-header.mu-fixed-nav {
    background-color: #ff871c !important;
    transition: all 0.8s ease;
    display: table;
  
   
    -webkit-box-shadow: 0px 4px 4px 0px rgba(51,62,72,0.13), 0px 4px 4px 0px rgba(51,62,72,0.13);
    -moz-box-shadow: 0px 4px 4px 0px rgba(51,62,72,0.13),0px 4px 4px 0px rgba(51,62,72,0.13);
    box-shadow: 0px 4px 4px 0px rgba(51,62,72,0.13), 0px 4px 4px 0px rgba(51,62,72,0.13);
}

#mu-header.mu-fixed-nav {
    border: none;
    z-index: 20;
   
   padding-bottom: 14px; 
   
    left: 0;
    right: 0;
    max-width: none;
	
}

.ethnicity_selection h4 {
    font-size: 1.1em;
   
    text-shadow: none;
}


.ethnicity_selection li{
   border:1px solid #129793;
 
  list-style:none;
  display:inline-block;
  width:100%;
  margin: 7px auto;
      margin-top: 0;
}

.ethnicity_selection .active{
  border:1px solid #129793;
  background:#129793;
 
}
.ethnicity_selection input[type=radio]{
  display:none;
}
.ethnicity_selection a{
width: 100%;
text-align: center;
    display: block;
    float: left;    padding: 15px 10px;}
	#mu-hero.inner-height{background:#fff;}
	/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
 
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #129793;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.modal.fade.in .lab-modal-body {
  bottom: 0;
  opacity: 1;
  z
}

.lab-modal-body h1 {
  font-size: 4rem;
}

.lab-modal-body p {
  margin: 0 0 1.62rem 0;
  line-height: 1.62;
  font-weight: 300;
  font-size: 1.62rem;
  color: #666;
}

.lab-modal-body {
  position: relative;
  bottom: -100px;
  margin: 220px auto 0;

  padding: 40px;
  padding-bottom:0;
  max-width: 50%;
  height: auto;
 right:0;
 float:right;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}
.lab-modal-body img{width:200px;}
.close {
  margin-top: -20px;
  margin-right: -20px;
  text-shadow: 0 1px 0 #ffffff;
}

.popup-button {
  margin-top: 70px;
}
.iota .modal-dialog{bottom: 0;
position: absolute;
left: 0;}

#demo{position: absolute;
    
    left: -250px;
    width: 155%;
	 height: 100px;
    color: #fff;
    padding: 10px;
    top: 16px;    font-size: 20px;}
	#demo.costummodal-output{ height: 140px;    left: -68px; opacity:1;    z-index: 9;    width: 320px; }
	#demo.costummodal-output::before {
    bottom: 0;
   
    border-top: 10px solid #129793;
}
	.speech-bubble {
	
	background: #00aabb;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 70%;
	width: 0;
	height: 0;
	border: 39px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	border-bottom: 0;
	margin-top: -19.5px;
	margin-right: -39px;
}





	.border{border:1px solid #129793;}
	.pd10{padding:10px;}
	.mg10{margin:10px;}
	.mg-bt20{margin-bottom:20px;}
	.mg-top10{margin-top:10px;}
	.float-left{float:left; width:100%;}
	.clear{clear:both;}
	.h4pd{padding-left:10px; padding-right:10px;}
	.pd0{padding:0;}
	.pd5{padding:5px;}
	.pd-top5{padding-top:5px;}
	.pd-top10{padding-top:10px;}
	.pd-bottom5{padding-bottom:5px;}



/* flip */
.bs-flipper {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

    border: 1px solid #ccc;
}

	.bs-flipper:hover .flipper,  
  .bs-flipper.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.bs-flipper, .front, .back {
	width: 100%;
height: 220px;
margin-bottom: 0;
background: none;
border:none;
padding: 0;
  
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {

	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	
}

.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}
.demo-overlay {
        position: relative;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
	    margin-top:-7px;
}
.active .demo-overlay{      position: relative;    height: 100%; opacity:0.8;}

@media (min-width: 992px){

.flipcontaner .col-md-3 {
    width: 33.33%;
}
}


.base_selection  li{
   border:1px solid #FFF;
  padding:5px;
  list-style:none;
  display:inline-block;
width:100%;

}

.base_selection  .active{
  border:1px solid #129793;
  padding:5px;
}
.base_selection  input[type=radio]{
  display:none;
}



.img-container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.image_heading{
text-align:center;padding-top:10px;margin:0; padding-bottom:10px;
}
.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #129793;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.img-container:hover .overlay {
  bottom: 0;
  height: 100%;
}
.active .img-container .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}








.mg-top-100{margin-top:-100px;z-index:0;}
@media (max-width: 767px){

.mg-top-100{margin-top:0px}
#mu-header.mu-fixed-nav{    padding: 7px 0;}
.contactus {
  
    margin-top: 5px;
}
}
@media (max-width: 480px){
.show-contact{margin-top: 4px;}
}

.ethnicity_demo h4 {
    font-size: 1.1em;
   
    text-shadow: none;
}


.ethnicity_demo li{
   border:1px solid #ff871c;
 background: #e1e1e1;
  list-style:none;
  display:inline-block;
  width:100%;
  margin: 10px auto;
      padding: 10px;
}

.ethnicity_demo .active{
  border:1px solid red;
  background:#008CBA;
 
}
.ethnicity_demo input[type=radio]{
  display:none;
}
.ethnicity_demo h3{ padding-top:12px;    text-align: center;}
.photo-selection{ margin:0 auto;}
.photo-selection li{
   border:1px solid #FFF;
  padding:0px;
  list-style:none;
  display:inline-block;
  width:100%;
  
}
.photo-selection img{width:100%;}
.photo-selection .active{
 

}
.photo-selection input[type=radio]{
  display:none;
}
.left.carousel-control{display:none;}
.right.carousel-control{display:none;}
.photo_section{width:30%; margin:0 auto;}
.test-inner{display: block;
    float: left;
    width: 100%;
    padding: 10px;}
	.test-img-div{width:50px; height:50px;}
	.test-img-div img{width:100%;}
	.hide-range{display:none;}
	
	/*hexagonea*/

.flag {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative; 
  background: #129793;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;

  list-style:none;
  margin-bottom:15px;
  font-size:20px;
  text-transform:uppercase;
  font-weight:bold;


}

.flag:after {
  content: ' ';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid white;
  border-left: 25px solid transparent;
  border-bottom: 25px solid white;
}

.flag1 {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding-top: 10px;
  position: relative; 
  background: #129793;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;

  list-style:none;
  margin-bottom:15px;
  font-size:20px;
  text-transform:uppercase;
  font-weight:bold;


}

.flag1:before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid white;
  border-right: 25px solid transparent;
  border-bottom: 25px solid white;
}
.hex h1, .hex p{color:#fff;}
.btn-primary {
    color: #fff;
    background-color: #129793;
    border-color: #129793;
}
.contactus{    width: 35px;
    height: 35px;
    border: 1px solid;
    float: left;}
.icon-size{font-size:25px;    padding-top: 5px;
    padding-left: 5px;}

	/* Tooltip */
	#backtotop {
    position: fixed;
    left: 0;
    display: none;
    bottom: 0px;
    margin: 0 0px 0 10px;
    z-index: 9999;
}
#backtotop a {
    color: #fff;
}
#backtotop a{
    background-color: #059c7e;
}
#backtotop a {
    text-decoration: none;
   border-radius: 0;
    display: block;
    width: 70px;
    height: 30px;
    background-color: #129793;
    opacity: 1;
    transition: all 0.3s;
    border: 1px solid #fff;
    border-bottom: none;
    text-align: center;
  font-size: 18px;
    border-radius: 0;
    padding-top: 4px;
}
.iota .modal-header {
    padding: 15px;
    border-bottom: none;
}
.modal-backdrop.in {
   
    opacity: 0;
}
.show-contact ul li{list-style-type:none;}
.show-contact ul li{padding:5px 10px; font-size:14px;}
.show-contact ul li .fa{padding-right:10px; }
.show-contact ul li strong{font-weight: 800;}

#demo{background:#129793;color:#fff;border-radius: 15px;    border: 1px solid #fff;}

.contactus {display:none;}



#demo::before {
	content: "";
	width: 0px;
	height: 0px;
	border: 0.8em solid transparent;
	position: absolute;
}

#demo.top::before {
	left: 45%;
	bottom: -26px;
	border-top: 10px solid #129793;
}

#demo.bottom::before {
	left: 45%;
	top: -20px;
	border-bottom: 10px solid #444;
}

#demo.left::before {
	right: -25px;
	top: 58%;
	border-left: 10px solid #129793;
}

#demo.right::before {
	left: -20px;
	top: 40%;
	border-right: 10px solid #444;
}

#demo.top-left::before {
	left: 7px;
	bottom: -20px;
	border-top: 10px solid #444;
}

.callout.top-right::before {
	right: 7px;
	bottom: -20px;
	border-top: 10px solid #444;
}

.rating-mobel-box .modal-dialog {
    top:0;
}
.main-height1{height:100% !important; }

#demo.connent-firstscreen{        left: -188px;
    width: 290px;
    height: 109px;
    top: -4px; z-index:999;}
.starrr {color:#129793;    text-align: center;
    font-size: 50px;}
.bg1{background-image: url(assets/images/bkgnd_images/1.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
}
.bg2{background-image: url(assets/images/bkgnd_images/1.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
}
.bg3{background-image: url(assets/images/bkgnd_images/1.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
}
.bg4{background-image: url(assets/images/bkgnd_images/1.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
}
.bg5{background-image: url(assets/images/bkgnd_images/6.jpg) !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: cover !important;
}
.footer{margin-top:80px; font-weight:bold; color:#fff; padding-left:10px; padding-right:10px;}

/*tab*/
.process-row {
    display: table-row;
}

.process {
    display: table;     
       width: 70%;
    position: relative;
	float: left;
	    margin-top: -8px;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 25px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.process-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.process-step p {
    margin-top:10px;
    
}

.btn-circle {
 width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
  font-size: 22px;
    line-height: 1.5;

    border-radius: 5px;
}

/* arrow button*/

.arrow {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px 5px 5px 10px;
  background: #129793;
     font-size: 16px;
  color: #fff;
     text-transform: uppercase;
	 font-weight:bold;
	   padding-top:10px;
  text-align: center;
  text-decoration: none;
}

.arrow:before,
.arrow:after {
  content: '';
  position: absolute;
  right: -17px;
  width: 29px;
  height: 11px;
  border-radius: 5px;
  background: #129793;
}
.arrow:before {
  top: 8px;
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
}
.arrow:after {
  bottom: 8px;
  -webkit-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  transform: rotate(-55deg);
}


/* arrow left*/

.arrow-left {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 10px 5px 5px 10px;
  background: #129793;
     font-size: 16px;
  color: #fff;
     text-transform: uppercase;
	 font-weight:bold;
	   padding-top:10px;
  text-align: center;
  text-decoration: none;


}

.arrow-left:before,
.arrow-left:after {
  content: '';
  position: absolute;
  left: -14px;
  width: 29px;
  height: 11px;
  border-radius: 5px;
  background: #129793;
}
.arrow-left:before {
  top: 8px;
  -webkit-transform: rotate(124deg);
  -ms-transform: rotate(124deg);
  transform: rotate(124deg);
}
.arrow-left:after {
  bottom: 8px;
  -webkit-transform: rotate(-124deg);
  -ms-transform: rotate(-124deg);
  transform: rotate(-124deg);
}

/*image*/

.image-text{line-height: normal;
    
    color: #000;
    z-index: 99;
    font-weight: bold;
    width: 100%;
    left: 0;
   padding-top: 70px;
    font-size: 14px;}
	.hex:hover .image-text{display:none !important;}
	
	/* arrow button*/
	
	

.clr:after{
  content:"";
  display:block;
  clear:both;
}
#categories {width:65%; margin:0 auto;margin-left: 22%;}
#categories li{
  position:relative;
  list-style-type:none;
  width:27.85714285714286%; /* = (100-2.5) / 3.5 */
  padding-bottom: 32.16760145166612%; /* =  width /0.866 */
  float:left;
  overflow:hidden;
  visibility:hidden;
 
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(3n+2){
  margin:0 1%;
}
#categories li:nth-child(6n+4){
  margin-left:0.5%;
}
#categories li:nth-child(6n+4), #categories li:nth-child(6n+5), #categories li:nth-child(6n+6) {
	margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
  position:absolute;
  visibility:visible;
}
#categories li > div{
  width:100%;
  height:100%;
  text-align:center;
  color:#fff;
  overflow:hidden;
  
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  
	-webkit-backface-visibility:hidden;
  
}

/* HEX CONTENT */
#categories li img{
  left:-100%; right:-100%;
  width: auto; height:100%;
  margin:0 auto;   
}

#categories div h1, #categories div p{
  width:90%;
  padding:0 5%;
  background-color:#008080; background-color: rgba(0, 128, 128, 0.8);
  font-family: 'Raleway', sans-serif;
  
  -webkit-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  -ms-transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
  transition: top .2s ease-out, bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
  bottom:110%;

  font-weight:bold;
  font-size:1.5em;
  padding-top:100%;
  padding-bottom:100%;
}
#categories li h1:after{
	content:'';
  display:block;
  position:absolute;
  bottom:-1px; left:45%;
  width:10%;
  text-align:center;
  z-index:1;
  border-bottom:2px solid #fff;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}


/* HOVER EFFECT  */

#categories li div:hover h1 {
    bottom: -4%;
    width: 100%;
    padding-bottom: 54%;
}
#categories li.check div h1{ top:50%;
  width:100%;
  padding-top:10%;}

#categories li div:hover p{
  top:50%;
  width:100%;
  padding-top:10%;
}
#fork{
  position:fixed;
  top:0;
  left:0;
  color:#000;
  text-decoration:none;
  border:1px solid #000;
  padding:.5em .7em;
  margin:1%;
  transition: color .5s;
  overflow:hidden;
}
#fork:before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 130%; height: 100%;
  background: #000;
  z-index: -1;
  transform-origin:0 0 ;
  transform:translateX(-100%) skewX(-45deg);
  transition: transform .5s;
}
#fork:hover {
  color: #fff;
}
#fork:hover:before {
  transform: translateX(0) skewX(-45deg);
}



.combo4{display:none !important;}
.combo5{display:none !important;}
.comb.check .inner_span{display:block !important; opacity: 1 !important;}
.comb.base .inner_span{display:block !important; opacity: 1 !important;}
.honeycombs .inner-text {
  
    font-size: 20px;
    font-weight: bold;
}
.comb.base .inner-text {font-size: 40px;    padding-top: 30% !important;}
.honeycombs {padding-left:23%;}
.honeycombs .inner-text {
    padding-top: 38% !important;
}
.rangeslider, .rangeslider__fill {
  
   
    background-color: #129793;
    box-shadow: 0 1px 0 #002060, inset 3px 4px 5px rgba(0, 0, 0, 0.21);
}
.rangeslider__handle::before {

    text-shadow: 0 1px 0 #002060 !important;
    background-color: #129793 !important;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.22), inset 0 1px 0 #002060, inset 0 0 10px rgba(189, 57, 15, 0.63) !important;
}
.btn-success {
  
    background-color: #129793;
    border-color: #129793;
}
.contact-home{ margin-top: 0;}
/* next Button*/

.next-button {
  position: relative;
  display: block;
     width: 150px;
  height: 50px;
  border-radius: 10px 5px 5px 10px;
  background: #129793;
     font-size: 20px;
  color: #fff;
     text-transform: uppercase;
	 font-weight:bold;
	   padding-top:10px;
  text-align: center;
  text-decoration: none;
   border: 1px solid #fff;
}

.next-button:before,
.next-button:after {
  content: '';
  position: absolute;
  right: -17px;
  width: 29px;
  height: 14px;
  border-radius: 5px;
  background: #129793;
}
.next-button:before {
  top: 9px;
  -webkit-transform: rotate(51deg);
  -ms-transform: rotate(51deg);
  transform: rotate(51deg);
  border-top: 1px solid #fff;
    border-radius: 0;
}
.next-button:after {
  bottom: 9px;
  -webkit-transform: rotate(-51deg);
  -ms-transform: rotate(-51deg);
  transform: rotate(-51deg);
      border-bottom: 1px solid #fff;
    border-radius: 0;
}
/* privous button*/

.previous-button {
  position: relative;
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 10px 5px 5px 10px;
  background: #129793;
     font-size: 20px;
  color: #fff;
     text-transform: uppercase;
	 font-weight:bold;
	   padding-top:10px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #fff;


}

.previous-button:before,
.previous-button:after {
  content: '';
  position: absolute;
  left: -15px;
  width: 32px;
  height: 15px;
  border-radius: 5px;
  background: #129793;
}
.previous-button:before {
  top: 9px;
  -webkit-transform: rotate(130deg);
  -ms-transform: rotate(130deg);
  transform: rotate(130deg);
  border-bottom: 1px solid #fff;
      border-radius: 0;
}
.previous-button:after {
  bottom: 9px;
  -webkit-transform: rotate(-130deg);
  -ms-transform: rotate(-130deg);
  transform: rotate(-130deg);
  border-top: 1px solid #fff;
      border-radius: 0;
}
.pd-right100{padding-right:100px;}
.progress {
    background-color: #000000;
    border: 1px solid #7aff66;
	    width: 60%;
		margin-top: 8px;
		    margin-bottom: 10px;

}
.progress-bar {
    background-color: #c4ffbc;
}
.progress-bar span {
    color: #000000;
}
.mg0{margin:0}
.pd-left5{padding-left:5px;}
.pd-right5{padding-right:5px}
.mg-top-20{margin-top:-20px;}
.disclaimer {display:block; float:left; width:100%;}
.navbar-header{width:196px;float:left}
.mu-hero-right.img-responsive{text-align:center;}
.iota-img{padding-top:50px;}
.mg-bt10{margin-bottom:10px;}
	
	
	/* new Design*/
	.sw-theme-dots .step-content{
	width: 100%;
    float: left;
	}
	#form-step-1 .rangeslider__handle::before{ display:none;}
	.pd-top15{padding-top:15px;}
	#form-step-2 .list.list--secondary {list-style-type:none;}
	#form-step-2 .list.list--secondary li{width:20%; float:left;list-style-type:none;    margin-bottom: 0;}
	#form-step-2 .list.list--secondary label{width:100%;}
	.sw-theme-dots > ul.step-anchor > li.active > a::after {
    background: #129793;
}
.sw-theme-dots > ul.step-anchor > li.active > a {
    color: #129793;
}
.sw-theme-dots > ul.step-anchor > li.done > a:after {
    background: #002060;
}
.sw-theme-dots > ul.step-anchor > li.done > a {
    color: #002060;
}
	.img-thumbnail{width:100%;}
	.box {

    padding:0 10px;
}
.center-block {
   
    width: 100%;
}
.form-group {
    margin-bottom: 0px; 
}
.header-content-wrapper .logo {
    margin-bottom: 0px;
}
.heading {
    position: unset;
    
}


.radio-check {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio-check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-check:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio-check input:checked ~ .checkmark {
    background-color: #129793;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-check input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio-check .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.form-group{    display: block;
    float: left;
    width: 100%;}
	.check {
    opacity: 1;
    color: #fff;
    background: #129793;
}
.help-block.with-errors{position: absolute;
    top: -41px;
    right: 0;}
	.step-content{height:100%;}
	.sw-container.tab-content{min-height:380px;    overflow: inherit;}
	.rangeslider__fill {
    background: #5cb85c !important;
   }
   .wrapper-rangeslider {
   
    padding-left: 15px;padding-right:15px;
}
   .pd-lt5{padding-left:5px;}
   
   .pd-rt5{padding-right:5px}
   .pd-bottom8{padding-bottom:8px;}
   .company-info{padding-top:13px;}
   .company-info li{padding-left:10px}
   .company-info li .fa{padding-right:5px;}
   .company-info li strong{ font-weight:700;}
   .logo{overflow:unset !important;}
   .logo img {  
    margin-right: 10px;}
	.iotamsg-div{    background: #129793;    color: #fff;
    border-radius: 15px;
	    min-height: 40px;
    border: 1px solid #fff;
    padding: 10px;}
	.tooltip{z-index:9999;}
	.base .btn-primary {   background-color: transparent !important;}
	.base  .img-thumbnail {  border-radius:70px;}
	.hexagon {
			position: relative;
			display: inline-block;
			width: 205px;
			height: 233px;
			overflow: hidden;
			color: #fff;
			-webkit-mask-image: url('http://i40.tinypic.com/kajqg.jpg');
			text-align: center;
			
		}
		.hexagon .content{
			height: 186px;
			width: 186px;
			margin: auto;
			margin-top: 16px;
			
		}
		.hexagon.img-check-prefernce.check{background:rgb(18, 151, 147) !important}
		.clearfix{clear:both;}
		#costumModal23  .modal-body{padding:0;}
     @media (max-width: 1199px){
		 .container {
    width: 95%;
}
		 .image-text{padding-top:60px;}
		 }
		 
		 @media (max-width: 991px){
			.test .test-inner-block{padding-top:0 !important;}
			 .test .testtitle{width:100%; margin-bottom:10px;}
			 .test .test-slider{width:100%; padding-left:0; padding-right:0;}
			.test .test-img{padding: 0;padding-left: 6px;padding-top: 10px;}
			.image-text{padding-top:40px;font-size: 13px;}
			#demo.costummodal-output {  left: -25px; width: 200px; line-height:normal;font-size: 17px;}
			#demo.top::before {   bottom: -23px;}
			 
			 }
   @media (max-width: 991px){
	.container {
    width: 95%;
}
.radio-check {
   
    font-size: 14px;
}
.show-contact{display:none;}
.contactus {display:block;color: #ddd;
margin-top: 12px;}

.show-contact {
    display: none;
    position: absolute;
    border: 1px solid #ddd;
    padding: 10px;
    top: 59px;
    width: 270px;
    background: #fff;
    right: 0;
	z-index: 99999999;
}
.show-contact ul li {
    padding: 5px 10px;
    font-size: 14px;
}
.show-contact ul li {
    list-style-type: none;
}
.company-info {
    padding-top: 0px;
}
   }
    @media (max-width: 860px){
		.image-text{padding-top:30px;}
		#demo.costummodal-output {  left: -40px;}
		}
     @media (max-width: 799px){
		 .ethnicity .preference .form-group .col-md-3 {margin-bottom:13px !important;}
		 .ethnicity .gender .form-group .col-md-3 {margin-bottom:13px !important;}
		
		  .psychology .carousel .col-md-4{width:33.33%;float:left;}
		  .iotamessage-img {width:80px;float:left;}
		  .iotamsg-div{width:300px; float:left;}
	 }
   @media (max-width: 767px){
	   
	   .sw-theme-dots .step-anchor li small{display:none !important;}
	  .sw-theme-dots > ul.step-anchor::before{top: 45px;}
	 .sw-theme-dots > ul.step-anchor > li > a::after{left:45%;}
	.sw-theme-dots > ul.step-anchor > li > a{font-size:14px;}
	 /*  .sw-container.tab-content {  height: auto !important;} */
	    .psychology .carousel .col-md-4{width:60%; margin:0 auto;float: unset;margin-bottom:10px;}
	   .col1{width:100%}
		 .col2{width:100%}
		 .image-text{padding-top:110px; font-size:14px;}
		 #hexGrid {
    width: 90%;
   
}
.logo {  
    display: block;}
	#demo.costummodal-output {
    left: 0;
    width: 95%;
	margin: 10px;  height: auto;top: 70px;}
	.base #form-step-2 .list.list--secondary li{width:33.33%;}
	.iota .modal-dialog {
    bottom: 22px;
    
}
   }
    @media (max-width: 650px){
		.image-text{padding-top:80px;}
		}
		 @media (max-width: 550px){
		.image-text{padding-top:55px;}
			#demo.costummodal-output { top: 50px;}
   
		}
    @media (max-width: 480px){
	   .test .test-inner-block{width:100%;}
	   .test .test-slider{margin-bottom:5px;}
	   .sw-btn-group-extra .btn {padding: 6px 6px; font-size:12px;}
	   .sw-btn-group .btn {padding: 6px 6px; font-size:12px;}
	   .psychology .carousel .col-md-4{width:80%; font-size:13px;}
	   .base #form-step-2 .list.list--secondary li{width:50%;}
	   
	   }
   @media (max-width: 435px){
	   .sw-theme-dots > ul.step-anchor::before {  top: 66px;}
	    .psychology .carousel .col-md-4{width:40%;
	   
	   }
	   .image-text{padding-top:40px;}
	   #demo.costummodal-output {
    top: 30px;
}
	.iotamsg-div {
    width: 201px;
  
}   
   }
   
    @media (max-width: 350px){
		 .image-text{padding-top:40px;}
	}